@model Battleship2.MVC.Models.ViewModels.GameDetailsViewModel

@{
    ViewData["Title"] = "GameDetailsItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Game Details</h1>

<div>
    <h4>GameDetailsViewModel</h4>
    <hr />
    <h2>Players</h2>
    @foreach (var player in Model.PlayerName)
    {
        Html.Display(player);
    }
    <h2>Turns</h2>
    @foreach (var shot in Model.ShotInfoList)
    {
        Html.Display(shot);
    }
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
