
@{
    ViewData["Title"] = "ReactStatistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div id="content"></div>

<div data-marker='@ViewBag.PlayerName' id="playerName"></div>

<script src="@Url.Content("~/js/dist/reactstatistics.jsx")"></script>


